@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply overflow-hidden;
  }

/* Scrollbar subțire și rotunjit */
.scroll-custom {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.scroll-custom::-webkit-scrollbar {
  width: 8px;
}

.scroll-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

